body {
	background: skyblue;
}

section#connect-with-me{
	background-color: white;
	width: 270px;
	height: 200px;
}

ul#connect-logo-list li {
	display: inline;
	list-style-type: none;
	padding-right: 5px;
}

div.list {
	width: 270px;
	padding: 25px;
	border: 5px black;
	display: inline;
}

ul#nav-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li.nav-bar {
	
}